<footer>
<div class="row">
    <div class="large-12 columns">
        <br>
      <div class="row">
        <div class="large-6 small-12 columns">
        <ul class="inline-list left">
          <li>{%image hairdryer4.png class='footer-hairdryer' %}</li>
          <li>Another Man Utd blog</li>
        </ul>
        </div>
        <div class="large-6 small-12 columns">
          <ul class="inline-list right">
            <li><a href="#">{% image Twitter.png class='social-icon' %}</a></li>
            <li><a href="#">{% image Facebook.png class='social-icon' %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </footer>
