<footer>
<div class="row">
    <div class="large-12 columns">
        <br>
      <div class="row">
        <div class="large-6 small-12 columns">
        <p>{% image hairdryer4.png class='footer-hairdryer' %}
         Another Man Utd blog</p>
        </div>
        <div class="large-6 small-12 columns">
          <ul class="inline-list right">
            <li><a href="https://twitter.com/fergiesHD">{% image Twitter.png class='social-icon' %}</a></li>
            <li><a href="#">{% image Facebook.png class='social-icon' %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </footer>
