<footer>
<div class="row">
    <div class="large-12 columns">
        <br>
      <div class="row">
        <div class="large-6 columns">
        <ul class="inline-list left">
          <li>{%image hairdryer4.png class='footer-hairdryer' %}</li>
          <li>Fergies Hairdryer. Another Man Utd blog</li>
        </ul>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Vine</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </footer>
