<header id="header">
  <div class="row">

        <div class="small-12 columns">
            <section class="right show-for-medium-up mam">
                <ul class="inline-list">
                    {% include nav.html %}
                </ul>
            </section>

            <section class="right show-for-small">
                <ul class="inline-list mam">
                <li>
                    <a class="right-off-canvas-toggle"><i class="fa fa-bars fa-lg">
                    </i></a>
                </li>
                </ul>
            </section>

            <!-- <h1><a href="{{ site.url }}">{{ site.brand }}</a></h1> -->

        </div>

      {% image logo2@2x.png class='main_logo' %}
    </div>
  </header>
