@import 'vendor/foundation/scss/foundation';

@import 'vendor/foundation/scss/normalize';

@import 'settings';

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'gotham-light';
  src: url(asset_path('fonts/gotham-light-webfont.eot'));
  src: url(asset_path('fonts/gotham-light-webfont.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/gotham-light-webfont.woff')) format('woff'),
  url(asset_path('fonts/gotham-light-webfont.ttf')) format('truetype'),
  url(asset_path('fonts/gotham-light-webfont.svg#gotham-light')) format('svg');
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: 'gotham-bold';
  src: url(asset_path('fonts/gotham-bold-webfont.eot'));
  src: url(asset_path('fonts/gotham-bold-webfont.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/gotham-bold-webfont.woff')) format('woff'),
  url(asset_path('fonts/gotham-bold-webfont.ttf')) format('truetype'),
  url(asset_path('fonts/gotham-bold-webfont.svg#gotham-bold')) format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'gotham-book';
  src: url(asset_path('fonts/gotham-book-webfont.eot'));
  src: url(asset_path('fonts/gotham-book-webfont.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/gotham-book-webfont.woff')) format('woff'),
  url(asset_path('fonts/gotham-book-webfont.ttf')) format('truetype'),
  url(asset_path('fonts/gotham-book-webfont.svg#gotham-light')) format('svg');
}

//  =============
//  = Variables =
//  =============

$main-red: #C24B5E;
$main-black: #555355;
$ch-navy: #1C4E81;
$ch-grey: #333333;

$text-color: #7b889a;
$link-color: #e1004b;
$base-font-size: 16px;
$base-font-family: 'gotham-light', Helvetica, Arial, sans-serif;
$base-font-weight: 200;
$bold-font-family: 'gotham-book', Helvetica, Arial, sans-serif; 

body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

a {
  color: $link-color;

}

p {
  font-family: $base-font-family;
}

h1,h2,h3,h4,h5 {
	font-family: $bold-font-family;
}
h3 {
	padding-bottom: 1rem;
}

p {
font-size: 1.2rem;
text-align: justify;
}

blockquote {
  background-color: #e9e9ef;
}

.fixed-container {
	background-color: $main-red;
}
.mam {
	margin: 2rem 0;
}


//  ==========
//  = HEADER =
//  ==========

#header {
	background-color: $main-red;
	/*min-height: 600px;*/

	a {
		color: #fff;
	}
}
.main_logo {
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: block;
    width: 50%;
    margin: 0 auto;


    @media #{$small-only} { 
    padding-top: 0rem;
    padding-bottom: 3rem;
    width: 80%;
    margin: 0 auto;
    display: block;


    }
}

ul.nav-links {
  float: right;
  li {
    font-family: 'gotham-book';
    letter-spacing: 1.0px;
    margin-left: 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    display: inline-block;
    list-style: none;
    @media #{$small-only} {
    margin-left: 0.5rem;
    font-size: 0.75rem;
    }
    &:hover {
    opacity: 0.7;
    }
  }
}
.app-icon, .social-icon {
  height: 48px;
  @media #{$small-only} {
  height: 32px;	
  }
}

.time-icon {
	height: 32px;
	@media #{$small-only} {
 	height: 24px;	
  }
}

.comment-icon {
  height: 32px;
  @media #{$small-only} {
  height: 16px; 
  }
}



section.center {
  text-align: center;
}

//  ==========
//  = CONTENT =
//  ==========

.post-content {

  padding-bottom: 3rem;

  p {

  color: $main-black;

  img.img-main {
  margin: 0 auto;
  width: 100%;
  }
  h3 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  }
  }

  a {
  font-family: 'gotham-book';
  font-weight: bold;
  }
}

.download {
  font-family: 'gotham-book';
  font-weight: bold;
  padding-bottom: 2rem;
}

img.img-main {
  margin: 0 auto;
  width: 100%;
}

#post-nav {

  padding: 2rem 0;

  a {
    font-size: 1.25rem;
    font-weight: bold;
  }
}
.comment-link {
  font-family: 'gotham-book';
  font-size: 1.0rem;
  color: white;
  border-radius: 24px;
  padding: 0.5rem 1.5rem;
    &:hover {
  color: white; 
  }

  @media #{$small-only} {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  }

}
.comment {
  background-color: rgba(194, 75, 94, 0.9);
  &:hover {
  background-color: rgba(194, 75, 94, 1.0);
  }
}
.twitter {
  background-color: rgba(64, 153, 255, 0.9);
  &:hover {
  background-color: rgba(64, 153, 255, 1.0);
  }
}

//  ==========
//  = FOOTER =
//  ==========


footer {

  padding: 2rem 0;
  font-family: 'gotham-book';
  letter-spacing: 1.0px;
  background-color: $main-black;
  color: white;
  font-weight: bold;
  a {
    font-weight: bold;
  }
  .footer-hairdryer {
    height: 48px;
  }
}





